<a href="https://colab.research.google.com/github/emailic/YOLOv5-Microplasticos/blob/main/join_csvs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import pandas as pd
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
img1='20220516_113718.jpg'
img2='20220516_113208.jpg'
csv_dir = '/content/drive/My Drive/microplasticos/microplasticos_1152/csvs/'

In [ ]:
out_df=pd.DataFrame()
for f in os.listdir(csv_dir):
  if img2 in f:
    df = pd.read_csv(csv_dir+f)
    n=f.find('grid_')
    pcords=', '.join(f[(n+5):].strip('.jpg.csv').split('_'))#picture coordinates
    #print(pcords)
    df['grid_coords'] = pcords
    out_df=pd.concat([out_df, df], ignore_index=True)

out_df.head()
display(out_df)

,Unnamed: 0,xmin,ymin,xmax,ymax,confidence,class,name,grid_coords
0,0,375.926086,953.223022,578.527039,1142.835083,0.787108,0,fragment,"0, 0"
1,1,387.119965,599.805054,603.169739,844.681274,0.772292,0,fragment,"0, 0"
2,2,651.071472,501.655945,834.193176,704.763489,0.759955,0,fragment,"0, 0"
3,3,689.508301,794.188293,876.000854,1038.095093,0.756617,0,fragment,"0, 0"
4,0,0.000000,949.356323,199.065186,1149.409546,0.761228,0,fragment,"0, 384"
...,...,...,...,...,...,...,...,...,...
277,1,248.533768,243.192200,439.042419,458.448120,0.638144,4,tar,"2304, 3072"
278,2,631.328247,170.738861,795.664551,349.074005,0.605972,4,tar,"2304, 3072"
279,0,115.963211,9.945702,234.439621,142.832825,0.648136,4,tar,"2304, 3456"
280,1,247.526474,171.185120,411.258423,348.325623,0.608729,4,tar,"2304, 3456"
281,2,0.000000,263.269958,64.063019,431.471008,0.458474,4,tar,"2304, 3456"

In [ ]:
del out_df['Unnamed: 0']

In [ ]:
display(out_df)

,xmin,ymin,xmax,ymax,confidence,class,name,grid_coords
0,375.926086,953.223022,578.527039,1142.835083,0.787108,0,fragment,"0, 0"
1,387.119965,599.805054,603.169739,844.681274,0.772292,0,fragment,"0, 0"
2,651.071472,501.655945,834.193176,704.763489,0.759955,0,fragment,"0, 0"
3,689.508301,794.188293,876.000854,1038.095093,0.756617,0,fragment,"0, 0"
4,0.000000,949.356323,199.065186,1149.409546,0.761228,0,fragment,"0, 384"
...,...,...,...,...,...,...,...,...
277,248.533768,243.192200,439.042419,458.448120,0.638144,4,tar,"2304, 3072"
278,631.328247,170.738861,795.664551,349.074005,0.605972,4,tar,"2304, 3072"
279,115.963211,9.945702,234.439621,142.832825,0.648136,4,tar,"2304, 3456"
280,247.526474,171.185120,411.258423,348.325623,0.608729,4,tar,"2304, 3456"
281,0.000000,263.269958,64.063019,431.471008,0.458474,4,tar,"2304, 3456"

In [ ]:
out_df.to_csv(csv_dir+img2+'.csv')